:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: large;


  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 70px;
  margin: 0px;
}

input {
  border: 2px solid;
  padding: 10px;
  color: black;
  background-color: white;
  border-color: black;
  border-radius: 16px;

}

input:hover {
  border-color: #646cff;
  transition: border-color 0.25s;

}

button {
  border-radius: 16px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 40px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}